<head>
    <link rel="stylesheet" href="../assets/src/css/style.css">
</head>
<div class="right">
    <img src="./assets/src/images/Simeco.jpg" alt="Imagem do Evento do Simeco" id="imagens-eventos">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, molestias debitis suscipit accusamus, quisquam iure dolorem eligendi facere deserunt, iusto voluptate eos provident odio ipsam tempora laudantium. Tempora, soluta quasi?</p>
</div><br><br><br>

<div class="left">
    <img src="../assets/src/images/Simeco.jpg" alt="">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi laudantium numquam, doloremque velit eligendi laboriosam quaerat quas similique quidem rem optio, earum perferendis explicabo excepturi tenetur temporibus facere omnis hic.</p>
</div><br><br><br>